<div class="review-container">
    <button type="button" class="close-reviews"></button>
    <ul class="reviews">
        <li class="reviews-item">
        </li>
    </ul>
    <form action="" id="forms">
        <h3>Отзыв:</h3>
        <input type="text" placeholder="Ваше имя" name="autor-name" class="i-name style-input">
        <input type="text" placeholder="Укажите место" name="place" class="i-place style-input">
        <textarea name="write-reviews" placeholder="Поделитесь впечатлениями" class="i-area"></textarea>
        <button type="button" class="i-btn">Добавить</button>
    </form>
</div>
